.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 5;
  line-height: 1.7em;
  background-color: rgba(0, 0, 0, 0.7);
  color: #000;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none;
  &__open {
    display: flex;
  }
  &__wrapper {
    width: 50%;
    height: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2vh;
    @include bp(795px) {
      width: 70%;
      padding: 1.3vh;
    }
    @include bp(500px) {
      width: 90%;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 34px;
    @include bp(795px) {
      font-size: 20px;
    }
  }
  &__subtitle {
    font-weight: normal;
    font-size: 26px;
    margin: 41px 0;
    @include bp(795px) {
      margin: 25px 0;
      font-size: 20px;
    }
  }
}
.btn--modal {
  width: 40%;
  color: #fff;
  background-color: #00c058;
  font-size: 26px;
  padding: 0.5em 2em;
  font-weight: bold;
  @include bp(795px) {
    width: 90%;
  }
}
